*

!README

!.gitignore

!.ashrc
!.gitconfig
!.profile

!.config/
!.config/foot/
!.config/foot/**
!.config/mako/
!.config/mako/**
!.config/nvim/
!.config/nvim/**
!.config/sway/
!.config/sway/**
!.config/sv/
!.config/sv/**

!.media/
!.media/screenshots/
!.media/screenshots/**
