*

!README

!.gitignore

!.ashrc
!.gitconfig
!.profile

!.config/
!.config/foot/
!.config/foot/**
!.config/gtk-3.0/
!.config/gtk-3.0/**
!.config/mako/
!.config/mako/**
!.config/nvim/
!.config/nvim/**
!.config/sway/
!.config/sway/**
!.config/sv/
!.config/sv/**

!.media/
!.media/screenshots/
!.media/screenshots/**

!.mozilla/
!.mozilla/firefox/
!.mozilla/firefox/*
!.mozilla/firefox/*/chrome/
!.mozilla/firefox/*/chrome/*

.mozilla/firefox/installs.ini
.mozilla/firefox/profiles.ini
