[user]
    email      = mail@gebhn.com
    name       = Nicholas Gebhart
    signingkey = ~/.ssh/id_ed25519.pub

[init]
    defaultBranch = main

[gpg]
    format = ssh

[commit]
    gpgsign = true

[url "ssh://git@github.com/"]
    insteadOf = gh:

[diff]
    tool = nvimdiff

[difftool "nvimdiff"]
    cmd = nvim -d $LOCAL $REMOTE

[merge]
    tool          = nvimdiff
    conflictStyle = zdiff3

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    side-by-side = true
    navigate     = true
    light        = true

[alias]
    pr = "!f() { git fetch upstream pull/$1/head:pr-$1 && git checkout pr-$1; }; f"
